name: Build
on: [push]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: |
          sudo apt-get install -y curl
          curl -s https://packagecloud.io/install/repositories/varnishcache/varnish75/script.deb.sh | sudo bash
          sudo apt-get install varnish-dev
      - run: |
          export RUST_BACKTRACE=1
          cargo doc
          cargo build
          cargo test
